* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Images/marley4.png);
  background-size: cover;
  background-color: #5b2a86c2;
  transition: 0.8s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  height: 100%;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 50px;
  height: 60vh;
  width: 30vh;
  border: solid black 1px;
  border-radius: 20px;
  background: rgba(213, 165, 252, 0.3);
  font-family: "Caveat", cursive;
}
.links {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5b2a86;
  opacity: 0.85;
  color: #fff;
  border: solid black 1px;
  border-radius: 30px;

  padding: 20px 30px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.8s;
  width: 20vh;
}
.Caffe-name {
  font-family: "Caveat", cursive;
  color: #d8dcff;
  margin: auto;
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  font-weight: 100;
  transition: 0.8s;
  border-bottom: solid #d8dcff 2px;
  text-align: center;
}
/*TOPLI NAPITCI*/
.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
  transition: 1s;
}
p {
  color: #ccc;
  font-family: "Caveat", cursive;
}
h3 {
  color: #fff;
  font-family: "Caveat", cursive;
}
h2 {
  color: #fff;
  font-family: "Caveat", cursive;
}
.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
  border-radius: 50%;
  border: 1px solid black;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

/*Hladni napitci*/
